@use autoprefixer(browsers: ['last 2 versions']);
@import 'style_import_test.css';

@define-mixin colorized $bgcolor: blue, $color: red {
  .colorized-$(color)-$(bgcolor) {
    color: $color;
    background-color: $bgcolor;
    width: 400px;
  }
}

:root {
    --width: 200px;
}

@media (max-width: 1000px) {
    :root {
        --width: 300px;
    }
}

#content {
    width: var(--width);
    background: yellow;
}

@mixin colorized red, white {

}

@mixin colorized white, black {

}
