<p>
  {{message}}
  <br>
  {{_t 'The counter change buttons will post a message to the global channel that is listening to the Console Module.'}}
</p>
<p>
  <button type="button" class="btn btn-default" data-action="decrement">{{_t 'Decrement'}}</button>
  <button type="button" class="btn btn-default" data-action="increment">{{_t 'Increment'}}</button>
</p>
